body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}
.title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0 0 38px 0;
}
.title * {
  display: inline-block;
  width: 100%;
}
.title span {
  color: #c0bebe;
  font-size: 1.438em;
  font-weight: bold;
  padding: 0 0 11px 0;
} 
.smallTitle {
  width: 100%;
  display: block;
  padding: 0 0 20px 0;
}
ul.social {
  display: block;
}
ul.social li {
  display: inline-block;
  margin: 0 40px 0 0;
}
.center {
  width: 50%;
}
section.about {
  width: 100%;
  display: block;
  padding: 186px 0 80px 0;
}
section.about .imageholder:hover .text {
  opacity: 1;
}
section.about article {
  width: 100%;
  display: block;
  padding: 60px 0 0 0;
}
section.services {
  width: 100%;
  display: block;
  padding: 80px 0 60px 0;
}
section.services .service p {
  font-size: 0.875em;
  padding: 0 15px;
}

section.contact {
  width: 100%;
  display: block;
  padding: 80px 0;
}
section.contact input[type="text"]:focus {
  background: #000;
  color: #fff;
}
section.contact textarea {
  background: #eeeeee;
  width: 100%;
  padding: 15px 20px;
  border: 0 none;
  outline: 0;
  text-transform: uppercase;
  font-size: 0.813em;
  color: #959494;
  height: 160px;
  margin: 0 0 20px 0;
}
section.contact textarea:focus {
  background: #000;
  color: #fff;
}
section.contact input[type="submit"] {
  background: #fff;
}
section.contact input[type="submit"]:hover {
  background: #000;
}
section.contact ul {
  font-size: 0.813em;
  line-height: 17px;
  text-transform: uppercase;
}
section.contact ul li {
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}
section.contact ul li a {
  color: #000;
  text-decoration: none;
}
section.contact ul li i {
  font-size: 1.308em;
}
  section.about {
    padding: 40px 0;
  }
  section.about .smallTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  section.about article {
    text-align: center;
  }

  section.services {
    padding: 40px 0;
  }
  section.contact {
    padding: 40px 0 0 0;
  }
  section.contact input[type="text"] {
    text-align: center;
  }
  section.contact textarea {
    text-align: center;
  }
  section.contact form {
    margin: 0 0 40px 0;
    display: inline-block;
    text-align: center;
  }
  section.contact .smallTitle {
    text-align: center;
  }
  section.contact ul {
    text-align: center;
    margin: 0;
  }
  section.contact ul li i {
    display: none;
  }
  footer .copyright {
    width: 100%;
    display: block;
    text-align: right;
    color: #5e0101;
    text-transform: uppercase;
    font-size: 0.813em;
    padding: 20px 0 0 0;
  }
  footer {
    width: 100%;
    display: block;
    background: #eeeeee;
    padding: 10px 0;
  }
  footer ul.social {
    text-align: center;
  }
  footer .copyright {
    text-align: center;
    color: #000;
  }
img{
  display: block;
  width: 800px;
  margin: 0 auto;
  transition: 3s;
}
.boxed {
  border: 1px solid rgb(190, 190, 190) ;
  background-color: #e0dcdc;
}
.boxed1{
  border: 1px solid rgb(190, 190, 190) ;
  background-color: #e0dcdc;
}
.boxed2{
  text-align: center;
}
