*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 10000;
}
header.sticky{
    padding: 5px 100px;
    background: #fff;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
.sticky .menu-btn i {
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;

}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
header.sticky ul li a{
    color: #000;
}
#click {
    display: none;
}
@media (max-width: 940px) {
    .sticky .menu-btn i {
        display: block;
        color: black;
    }
    header ul {
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: 0.3s ease;
        background-color: #E82126;
    }
    #click:checked ~ ul{
        left: 0;
      }
    header ul li {
        margin: 40px 0;
    }
    header ul li a {
        font-size: 20px;
        display: block;
    }
    
}
/*css for O.now*/
.banner-area{
    width: 100%;
    height: 100vh; 
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(images/phonenew1.jpg);
    background-size: cover;
}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 40px;
    color:#fff;
    margin-top: 10px;

}
.content p{
    font-size: 20px;
    color: #ddd;
}
.btn { 
    margin-top: 25rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    background: #E82126;
    color: white;
    border: 0;
}
.btn:hover {
    cursor: pointer;
    background: rgb(90, 26, 26);
    text-decoration: none;
}
.btn:hover, .btn:focus, .btn:active{
    -webkit-transform: scale(1.1);
    transform: scale (1.1);
}